Repository nvim-treesitter/nvim-treesitter, pull requests merged in 2024-08, with the labels that each got.

#7008 fix(query): proper indentation after quantifiers
  queries/query/indents.scm
  tests/indent/query/test.scm
  tests/indent/query_spec.lua
Labels: indent

#7018 feat: add sflog (Salesforce debug log) parser and highlights
  lockfile.json
  lua/nvim-treesitter/parsers.lua
  queries/sflog/highlights.scm
Labels: new language

#6741 feat(php): php 8.4 support
  README.md
  lockfile.json
  lua/nvim-treesitter/parsers.lua
  queries/php_only/highlights.scm
  queries/php_only/indents.scm
  queries/php_only/locals.scm
  tests/indent/php/property-hooks.php
  tests/indent/php_spec.lua
  tests/query/highlights/php/keywords.php
Labels: upstream parser
